<!DOCTYPE html>
<html lang="en">

	<head>
	    <style>
      html, body, #map-canvas {
        margin: 0px;
        padding: 0px
      }
    </style>
		<title>Test</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  		 <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

  		 <script>
			var map;
			function initialize() {
			  var mapOptions = {
			    zoom: 17,
			    center: new google.maps.LatLng(<%=lat%>, <%=lng%>),
			     disableDefaultUI: true
			  };
			  map = new google.maps.Map(document.getElementById('map-canvas'),
			      mapOptions);
			  var marker = new google.maps.Marker({
			      position: new google.maps.LatLng(<%=lat%>, <%=lng%>),
			      map: map,
			      title: 'Hello World!'
  				});
			}

			google.maps.event.addDomListener(window, 'load', initialize);

	    </script>
	</head>
	<body>
	<div class="container">

		<div class="row">
			<div class="col-xs-4">
				<img id="profilePic" src=<%= profile_pic %> class="img-circle img-thumbnail" 
					style="width: 100%; height: 100%;">
			</div>
			<div class="col-xs-5" style="line-height: 1">
				<h5><%= username %></h5>
				<br>
				<p>rating here</p>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<img src=<%= item_pic %> class="img-thumbnail" style="width:100vw">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h5><%= message %></h2>
			</div>
		</div>

		<div class="row">
			 <div id="map-canvas" style="height:60vw"></div>
		</div>
		<p><%=lat%></p>
		<p><%=lng%></p>
</html>